body{
    font-family:"Verdana"; margin-top: 20px; margin-left: 20px; margin-right: 40px;
    background-image: url("Sky_banner.jpg"); 
    background-color:rgba(255,255,255,0.6); 
    background-blend-mode: lighten;
}
